.background {
  background: #f1f4f7;

}
.hovereffect {
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
}

.hovereffect .overlay {
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  top:0;
  left:0;
  opacity:0;
  background-color:rgba(0,0,0,0.5);
  -webkit-transition:all .4s ease-in-out;
  transition:all .4s ease-in-out;
}

.hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .4s linear;
  transition:all .4s linear;
  width: 100%;
  height: 400px;
}








.hovereffect:hover img {
  -ms-transform:scale(1.05);
  -webkit-transform:scale(1.05);
  transform:scale(1.05);
}

.hovereffect:hover .overlay {
  opacity:1;
  filter:alpha(opacity=100);
}




.ehover1 {
  margin-top: 20px;
}
.ehover1:hover button.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
.ehover1:hover button.info {
  opacity: 1;
  -webkit-transform: translatey(0);
  transform: translatey(0);
}
.hover button.info:hover {
  box-shadow: 0 0 5px #fff;
}
.ehover1 button.info {
  opacity: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.hover button.info {
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 200px 0 0;
  border-radius: 0;
  background-color: transparent;
}
/*implement css*/
#container {
  width: 761px;
  height: 650px;
  margin: auto;
  border-radius: 3px;
  background: #FFFFFF;
  border: #EEEEEE solid 1px;
}

#header {
  margin: auto;
  height: 65px;

  text-align: center;
}

.parent {
  display: table;
}

.child {
  display: table-cell;
  vertical-align: middle;
}

#content {
  background: #F9F9F9;
  height: 583px;
  padding: 20px;
  /*background: #EEEEEE;*/
}

.border {
  background: #FFFFFF;
  border: 1px solid rgba(240, 229, 229, 0.9);
  border-radius: 4px;
  /*width: 75px;*/
  /*height: 24px;*/
  text-align: center;
}

.search-input {
  margin-top: 10px;
  height: 28px;
  width: 294px;
}

.search {
  height: 28px;

}

.search i {
  padding-left: 5px;
  color: rgba(86, 168, 104, 0.54);

}
::placeholder {
  font-size: 13px;
  font-style: italic;
  text-align: right;
}

.search input {
  border: none;
  padding: 0px;
  height: 15px;
  outline: none;
  box-shadow: none;
}

#section2 {
  width: 90%;
  margin: auto;
  /* margin: 5px 30px; */
  height: 100px;
  background: white;
  border-radius: 3px;
  border: #7EBC8C solid 2px;
}

#section2 .content-btn {
  height: 40%;
  display: flex;
}

#section2 .content-btn .btn {
  padding-left: 80%;
}

#section2 .content-btn .btn .btn-add {
  background-color: #43BF5F !important;
  color: #FFFFFF;
  border: 1px solid rgba(240, 229, 229, 0.9);
  border-radius: 4px;
  text-align: center;
}

#section2 .content-form {
  padding: 5px 0px;
  height: 60%;
  background: #F9F9F9;
}

#section2 .content-form .div-lable {
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 75px 0 45px;
}

.div-lable label {
  color: #999494;
  font-size: 12px;
}

#section2 .input {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
}

#section2 .input .ID {
  width: 80px;
}

#section2 .input .name {
  width: 120px;
}

#section2 .input .dob {
  width: 100px;
}

#section2 .input .faculty {
  width: 150px;
}

#section3 {
  /*width: 95%;*/
  margin: auto;
  /* margin: 5px 30px; */
  height: 50%;
}
#section3 .info-lable {
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 75px 0 45px;
  margin-top: 20px;
}
#section3 .info-lable label {
  font-size: 15px;
  color: #999494;
}
#section3 .item {
  margin-bottom: 5px;
  height: 38px;
  display: flex;
  padding-top: 5px;
  border: #E7E4E4 solid 2px;
}
#section3 .item-p {
  margin-left: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
#section3 .item-p .name {
  width: 230px;
  padding-left: 40px;
}
#section3 button {
  height: 24px;
  border: none;
  text-align: center;
  color:#615E5E ;
  font-weight: bolder;
}
#section3 p {
  font-size: 15px;
}


/*lab2-css */
#css-lab2-requiment .rqul ol ul {
  list-style: none;
}
#download {
    cursor: pointer;
    color: rgba(11, 142, 255, 0.93);
}